<div class="card-product">
  <img src="/images/projects/DSC03605.jpg" />
  <div class="card-product-infos">
    <h1>Hamish Liu Web Devolpment portfolio </h1>
    <h2>About me</h2>
    <p>Hi, I am Hamish Liu. I am a full stack web developer from Melbourne, Australia currently living in Tokyo.
    I spend my time either working on web applications for Mamoru to promote sustainable lifestyles in Tokyo, personal projects, taking Udemy courses
     and learning new things wherever I can.</p>
     <br>
     <p>I am currently looking for new opportunites to build back end features in either Python or Ruby. I also enjoy working on front end design with React.
     Feel free to contat me on LinkedIn or Github. </p>
  </div>
</div>
<div class="card-stack">
  <div class="card-product-infos">
    <h1>My Tech Stack </h1>
  <img src="/images/projects/Web_Dev_Icons.png" />
  </div>
</div>
<div class="card-stack-small">
  <img src="/images/projects/python-logo-A32636CAA3-seeklogo.com.png" />
  <img src="/images/projects/React_(web_framework)-Logo.wine.png" />
</div>
