<div class="card-product">
  <img src="/images/projects/DSC03605.jpg" />
  <div class="card-product-infos">
    <h1>Hamish Liu Web Devolpment portfolio </h1>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>