<!-- about section-->
    <section id="about">
        <div class="container mt-4 pt-4">
            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="/images/projects/portrait.jpg" class= "imageAboutPage" alt="">
                </div>

                <div class="col-lg-8">
                    <p> Australian web developer, age 24. experienced in testing, development, and introducing innovative back-end features. working with Mamoru to create a sustainable web application. Japanese ability at a business level; native English speaker.

                    </p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <ul>
                                <li>Name: Hamish Liu</li>
                                <li>Age: 24</li>
                                <li>Occupation: Web Developer</li>

                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p> Native English speaker with Business level Japanese skills. Experience working with a startup as a marketing manager, transcribing interviews for a business magazine, and hosting the Swedish Olympic committee at the 2021 Tokyo Olympic games.
                            Actively looking for a back-end role where I can develop a company and my skills. Currently building new web development apps for Mamoru a web application which connects students with sustainable businesses here in Japan. While also teaching the youth of Japan.
                        </p>
                    </div>
                </div>
            </div>
    </section>
