<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg);">
  <div class="container">
    <h1>Welcome to my portfolio</strong>!</h1>
    <p>Designed by Hamish Liu</p>

    <div class="d-flex justify-content-left flex-wrap">
    <a class="btn btn-ghost" href="https://mail.google.com/mail/u/?authuser=hamish.mc.liu@gmail.com"><i class="fa-solid fa-envelope"></i>
    </a>
        <a class="btn btn-ghost" href="https://github.com/beenzino48"><i class="fa-brands fa-github"></i>
        </a>
    <a class="btn btn-ghost" href="https://www.linkedin.com/in/hamish-liu/"><i class="fa-brands fa-linkedin"></i>
    </a>
    </div>
  </div>
</div>
