<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg);">
  <div class="container">
    <h1>Welcome to my portfolio</strong>!</h1>
    <p>Designed by Hamish Liu</p>
  </div>
</div>