<section id='contact'>
<div class="footer">
  <div class="footer-links">
    <h4>Contact me here</h4>
    <a href="https://github.com/beenzino48"><i class="fab fa-github"></i></a>

    <a href="https://www.linkedin.com/in/hamish-liu/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This portfolio was made <i class="fas fa-star"></i> by Hamish Liu
  </div>
</div>
</section>



<%# <div class="d-flex justify-content-left flex-wrap">
    <a class="btn btn-ghost" href="https://mail.google.com/mail/u/?authuser=hamish.mc.liu@gmail.com"><i class="fa-solid fa-envelope"></i>
    </a>
        <a class="btn btn-ghost" href="https://github.com/beenzino48"><i class="fa-brands fa-github"></i>
        </a>
    <a class="btn btn-ghost" href="https://www.linkedin.com/in/hamish-liu/"><i class="fa-brands fa-linkedin"></i>
    </a>
    </div> %>
