/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* hero background image */
.bgimage {
  background: url('/images/projects/DSC03605.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 800px;
}

.navbar {
  background: linear-gradient(90deg,#1c1b1b,#1a1717);
}

.nav-link {
  color: whitesmoke;
}

.navbar-brand {
  color: whitesmoke;
}
