/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* hero background image */
.bgimage {
  background: url('/images/projects/DSC03605.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.navbar {
  background-color: black;
  height: 30px;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}
