// Specific CSS for your home-page
.card-stack {
    color: #4A4A4A;
    border: 1px solid #a19696;
    padding: 8px 24px;
    border-radius: 50px;
    margin-top: 8px;
}

.projects {
    padding: 12px;
}

.tech-container {
  width: auto;
  height: 850px;
}

.tech-stack {
  background: url('/images/projects/Tech Stack Diagram (Copy).jpg');
  height: 800px;
  max-width: 1300px;
  background-size: cover;
  background-position: center;
  padding: 175px 0;
}
